<div class="row">
    <div class="column">
        <img src="../../assets/multicloud.png" alt="multicloud Logo">
    </div>
    <div class="column">
        <h3>Sign In</h3>
        <form>
            <label for="uname">User name:  </label>
            <input type="text" id="uname" name="uname">
            <br />
            <br />
            <label for="pword">Password:  </label>
            <input type="text" id="pword" name="pword">
            <br />    
        </form>
        <br />
        <button type="button">Sign In to Account</button>
    </div>
</div>
