<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="sign-in.component.css">
</head>



<div class="row">
    <div class="column">
        <img src="../../assets/multicloud.png" alt="multicloud Logo">
    </div>
    <div class="column">
        <h3>Sign In</h3>
        <form>
            <input type="text" id="uname" name=:uname">
            <br />
            <input type="text" id="pword" name=:pword">
            <br />
            
        </form>
        <button type="button">Sign In to Account</button>
    </div>
</div>
</html>
