.text-input-wrapper {
    font-size: 14px;
    font-weight: 400;
    border-radius: 0;
    padding-top: 8px;
    padding-left: 18px;
    height: 44px;
    margin-bottom: 0;
}

.example-margin {
    margin: 0 10px;
  }

.filters {
    list-style-type: none; /* Remove bullets */
    padding: 0;
    margin: 0; 
}

li{
    margin: 10px 0;
}

.services {
    padding-top: 8px;
    margin: 0 20px;
}

input[type=checkbox] {
    transform: scale(1.5);
}