<div>
    <mat-toolbar color="primary">
     <button mat-icon-button class="btn btn-primary" [matMenuTriggerFor]="menu">
      <mat-icon>home</mat-icon>
      </button>
      <span id="team_name">Multicloud</span>
      <nav>
        <a routerLink="/cloudmanagement" id="a_one">Cloud Management</a>
        <a routerLink="/sign-in" id="a_two">SignIn</a>
        <a routerLink="/sign-up" id="a_three">SignUp</a>
      </nav>
    </mat-toolbar> 
      <mat-menu #menu="matMenu">
        <div class="card">
          <button mat-menu-item routerLink="/cloudmanagement" >
             <mat-icon >perm_media</mat-icon>
            <span>Cloud Management</span>
          </button>
        <button mat-menu-item routerLink="/sign-in" >
          <mat-icon>cloud_download</mat-icon>
          <span>SignIn</span>
        </button>
        <button mat-menu-item routerLink="/sign-up">
          <mat-icon>info</mat-icon>
          <span>SignUp</span>
        </button>
        <button mat-menu-item routerLink="/cloudmanagement" >
          <mat-icon>cloud</mat-icon>
          <span>Cloud Management</span>
        </button>
        <button mat-menu-item routerLink="/filetransfer" >
          <mat-icon>folder</mat-icon>
          <span>File Transfer</span>
        </button>
      </div>
      </mat-menu>

<img src="../../assets/multicloud.png" alt="multicloud Logo">
<router-outlet></router-outlet>
<app-messages></app-messages>