<div class="row">
    <div class="column">
        <img src="../../assets/multicloud.png" alt="multicloud Logo">
    </div>
    <div class="column">
        <h3>Sign Up</h3>
        <form>
            <label for="fname">First name:  </label>
            <input type="text" id="fname" name="fname">
            <br>
            <br>
            <label for="lname">Last name:  </label>
            <input type="text" id="lname" name="lname">
            <br>
            <br>
            <label for="uname">User name:  </label>
            <input type="text" id="uname" name="uname">
            <br />
            <br />
            <label for="pword">Password:  </label>
            <input type="text" id="pword" name="pword">
            <br />    
        </form>
        <br />
        <button type="button">Create Account</button>
    </div>
</div>