.services {
    padding-top: 8px;
    margin: 0 20px;
}
.boxes {
    margin-top: 10px;
    width: 400px;
    height: 400px;
    background:white;
    border-radius:40px;
    border:2px solid rgb(207, 207, 207);
}
.filesandfolders {
    list-style-type: none; /* Remove bullets */
    margin: 0;
    padding: 0;
}
li{
    margin-top: 20px;
    margin-left: 20px;
}
.filesandfolderstext {
    margin: 0 20px;
}