<div style="margin-top: 40px; margin-left: 100px; width: 100%; overflow: hidden; align-content: center;">
    <div style="width: 600px; float: left;">
        <img *ngIf="!leftServiceForm" src="{{serviceIcons[service1]}}" width="64" height="64">
        <button *ngIf="!leftServiceForm" class="services-button" (click)="leftServiceForm = true">{{serviceNames[service1]}}<br>{{serviceAccounts[service1]}}</button>
        <div *ngIf="leftServiceForm">
          <img src="{{serviceIcons[0]}}" width="64" height="64">
          <button class="services-button" (click)="leftServiceForm = false; service1 = 0;">{{serviceNames[0]}}<br>{{serviceAccounts[0]}}</button><br>
          <img src="{{serviceIcons[1]}}" width="64" height="64">
          <button class="services-button" (click)="leftServiceForm = false; service1 = 1;">{{serviceNames[1]}}<br>{{serviceAccounts[1]}}</button><br>
          <img src="{{serviceIcons[2]}}" width="64" height="64">
          <button class="services-button" (click)="leftServiceForm = false; service1 = 2;">{{serviceNames[2]}}<br>{{serviceAccounts[2]}}</button><br>
          <img src="{{serviceIcons[3]}}" width="64" height="64">
          <button class="services-button" (click)="leftServiceForm = false; service1 = 3;">{{serviceNames[3]}}<br>{{serviceAccounts[3]}}</button>
        </div>
        <br>
        <label class="services">Filters: </label>
        <label>{{filterList(filters, service1)}}</label>
        <div class="boxes">
          <ul class="filesandfolders">
            <li *ngFor="let fol of folders">
              <img src="assets/images/folder.png" width="70" height="70">
              <span class="filesandfolderstext">{{fol}}</span>
            </li>
          </ul>
          <ul class="filesandfolders" style="margin-left: 20px;">
            <li *ngFor="let fil of files1">
              <img src="assets/images/file.png" width="60" height="60">
              <span class="filesandfolderstext">{{fil}}</span>
            </li>
          </ul>
        </div>
    </div>
    <div style="margin-left: 620px;">
      <img *ngIf="!rightServiceForm" src="{{serviceIcons[service2]}}" width="64" height="64">
        <button *ngIf="!rightServiceForm" class="services-button" (click)="rightServiceForm = true">{{serviceNames[service2]}}<br>{{serviceAccounts[service2]}}</button>
        <div *ngIf="rightServiceForm">
          <img src="{{serviceIcons[0]}}" width="64" height="64">
          <button class="services-button" (click)="rightServiceForm = false; service2 = 0;">{{serviceNames[0]}}<br>{{serviceAccounts[0]}}</button><br>
          <img src="{{serviceIcons[1]}}" width="64" height="64">
          <button class="services-button" (click)="rightServiceForm = false; service2 = 1;">{{serviceNames[1]}}<br>{{serviceAccounts[1]}}</button><br>
          <img src="{{serviceIcons[2]}}" width="64" height="64">
          <button class="services-button" (click)="rightServiceForm = false; service2 = 2;">{{serviceNames[2]}}<br>{{serviceAccounts[2]}}</button><br>
          <img src="{{serviceIcons[3]}}" width="64" height="64">
          <button class="services-button" (click)="rightServiceForm = false; service2 = 3;">{{serviceNames[3]}}<br>{{serviceAccounts[3]}}</button>
        </div>
      <br>
      <label class="services">Filters: </label>
      <label>{{filterList(filters, service2)}}</label>
      <div class="boxes">
        <ul class="filesandfolders">
          <li *ngFor="let fol of folders">
            <img src="assets/images/folder.png" width="70" height="70">
            <span class="filesandfolderstext">{{fol}}</span>
          </li>
        </ul>
        <ul class="filesandfolders" style="margin-left: 20px;">
          <li *ngFor="let fil of files2">
            <img src="assets/images/file.png" width="60" height="60">
            <span class="filesandfolderstext">{{fil}}</span>
          </li>
        </ul>
      </div>
    </div>
</div>
